<section ng-if="dView.show" class="mod_pop_window">
	<ul class="tr_path">
		<li>{{dInput.pid ? '编辑节目' : '新增节目'}}</li>
		<li>
			<button ng-click="toClose()">关闭</button>
		</li>
	</ul>

	<section class="tr_content">
		<div class="this_scroll">
			<ul class="edit_program mb20">
				<li>
					<label>节目名称</label>
					<input ng-model="dInput.program" type="text" />
				</li>
				<li>
					<label>主持人</label>
					<!-- <input-compere ng-model="dInput.compere"></input-compere> -->
					<input ng-model="dInput.compere" placeholder="多主持人用逗号隔开" type="text" />
				</li>
				<li>
					<label>音频地址</label>
					<input ng-model="dInput.media" type="text" />
				</li>
				<li>
					<label>节目介绍</label>
					<textarea ng-model="dInput.content"></textarea>
				</li>
				<li>
					<label>节目图片选择</label>
					<input-images ng-model="dInput.image"></input-images>
				</li>
			</ul>
			<button ng-click="toSave()" class="btn"><icon>&#xe601;</icon>保存</button>
		</div>
	</section>
<section>
