.mod_alert {
	background: rgba(0,0,0,.4);
	@include box($pack:center, $orient:vertical);
	@include width-height(100%);
	@include position($type:fixed, $left:0, $top:0, $index:100);
	@include ng-animate($type:show);
	.alert {
		background: #fff;
        position: relative;
		margin: 0 4.5rem;
		@include border-radius($radius:2rem);
        .alertclose {
            font-size: 1.6rem;
            @include position($right:1.0rem, $top:0.5rem);
            @include iconfont();
        }
		.alertcontent {
			padding: 3.0rem 4.0rem 2.0rem 4.0rem;
			text-align: center;
			font-size: 1.36rem;
		}
		.alertbtn {
			@include box($align:center, $pack:center);
			padding: 0 2.6rem 2rem;
			button {
				width: 7.5rem;
				height: 2.5rem;
				line-height: 2.5rem;
				text-align: center;
				display: block;
				border: 1px solid rgba(255,192,0,.5);
				@include border-radius($radius:2.5rem);
				font-size: 1.28rem;
				color: #ffc000;
			}
		}
	}
}
