.appue_mod_body {
	padding-top: $height_header;
	@include box();
	// .mod_left {
	// 	display: none;
	// 	&.show {
	// 		display: block;
	// 	}
	// }
	.mod_right {
		position: static;
		padding: 0 !important;
	}
}