.page_reload {
	text-align: center;
	font-size: 1.2rem;
	color: #fff;
	background: rgba(0,0,0,.6);
	@include width-height-line(4.0rem);
	@include border-radius($radius:100%);
	@include position($type:fixed, $right:1.0rem, $bottom:5.0rem, $index:999);
}
