<header>
    <div>
        <icon ng-click="toBack()">&#xe600;</icon>
        <p>评论</p>
        <icon ui-sref="fm.index">&#xe64f;</icon>
    </div>
</header>
<section class="views_comment">
    <h2>对{{tView.program.program}}的评论</h2>
    <ul>
        <li ng-repeat="(k,v) in tView.list track by $index">
            <h3 class="left">
                <img ng-src="{{v.user.image}}" />
                <div>
                    <p>{{v.user.name}}</p>
                    <p>{{v.createtime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
            </h3>
            <article>{{v.content}}</article>
        </li>
    </ul>
    <div class="tr_btn">
        <input ng-model="tInput.content" type="text" />
        <button ng-click="toSubmit()" ng-class="{'show': tInput.content.length}">&#xe621;</button>
    </div>
</section>
