<section class="views_program">
    <div class="mod_tab">
        <div ui-sref="fm.index"><span>动态</span></div>
        <div class="cur"><span>节目</span></div>
    </div>

    <ul class="tr_list">
        <li ng-repeat="(k,v) in tView.list track by $index" ui-sref="fm.play({pid:v.pid})">
            <div style="background:url({{v.image}}) center center no-repeat;background-size:cover;)">
                <icon ng-show="!setConfig.audio.state || setConfig.audio.media != v.media">&#xe635;</icon>
                <icon ng-show="setConfig.audio.state && setConfig.audio.media==v.media">&#xe638;</icon>
            </div>
            <div>
                <h3>{{v.program}}</h3>
                <article>{{v.content}}</article>
            </div>
        </li>
    </ul>
</section>
