@mixin iconfont {
    font-family: "iconfont";
    font-weight: normal;
}

@mixin overflow-scroll ($type:absolute, $top:0, $left:0, $width:100%, $height:100%) {
    position: $type;
    left: $left;
    top: $top;
    width: $width;
    height: $height;
    @include box-sizing();
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@mixin last-no () {
    &:last-child {
        border: 0;
        -webkit-border-image: none;
    }
}

/**
 * 文字超出显示...
 * @method ellipsis
 * @param {[number]} $line 控制行数
 * @example
 *     @include ellipsis($line:1);
 */
@mixin ellipsis ($line:1) {
	@if $line > 1 {
    	display: -webkit-box;
    	-webkit-line-clamp: $line;
    	-webkit-box-orient: vertical;
    	overflow: hidden;
	} @else {
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	overflow: hidden;
	}
}

@mixin bottom-shadow () {
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

//width + height
@mixin width-height ($wh) {
    width: $wh;
    height: $wh;
}
@mixin width-height-line ($wh) {
    width: $wh;
    height: $wh;
    line-height: $wh;
}
@mixin height-line ($height) {
    height: $height;
    line-height: $height;
}

@mixin no-scrollbar {
    ::-webkit-scrollbar {
        width: 0;
    }
}
