@font-face {
    font-family: 'iconfont';
    src: url('#{$fonts}iconfont.eot?1');
    src: url('#{$fonts}iconfont.eot?1#iefix') format('embedded-opentype'),
        url('#{$fonts}iconfont.ttf?1') format('truetype'),
        url('#{$fonts}iconfont.woff?1') format('woff'),
        url('#{$fonts}iconfont.svg?1#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "sass/mixin",

    "sass/component/_reset",
    "sass/component/_box",
    "sass/component/_color",
    "sass/component/_confirm",
    "sass/component/_font.size",
    "sass/component/_height",
    "sass/component/_line.height",
    "sass/component/_margin",
    "sass/component/_padding",
    "sass/component/_toast",
    "sass/component/_widget",
    "sass/component/_width";
