.f8  { font-size:0.8rem; }
.f9  { font-size:0.9rem; }
.f10 { font-size:1.0rem; }
.f11 { font-size:1.1rem; }
.f12 { font-size:1.2rem; }
.f13 { font-size:1.3rem; }
.f14 { font-size:1.4rem; }
.f15 { font-size:1.5rem; }