.h10,.h20,.h30,.h40,.h50,.h60,.h70,.h80,.h90,.h100 {
	overflow: hidden;
}
.h10  { height: 1.0rem !important; }
.h20  { height: 2.0rem !important; }
.h30  { height: 3.0rem !important; }
.h40  { height: 4.0rem !important; }
.h50  { height: 5.0rem !important; }
.h60  { height: 6.0rem !important; }
.h70  { height: 7.0rem !important; }
.h80  { height: 8.0rem !important; }
.h90  { height: 9.0rem !important; }
.h100 { height: 10.0rem !important; }