.m0   { margin: 0 auto !important; }

.mb4  { margin-bottom: 0.4rem !important; }
.mb5  { margin-bottom: 0.5rem !important; }
.mb10 { margin-bottom: 1.0rem !important; }
.mb20 { margin-bottom: 2.0rem !important; }
.mb30 { margin-bottom: 3.0rem !important; }

.m10  { margin: 1.0rem !important; }
.m20  { margin: 2.0rem !important; }

.mt10 { margin-top: 1.0rem !important; }

.mr10 { margin-right: 1.0rem !important; }
.mr20 { margin-right: 2.0rem !important; }

.ml10 { margin-left: 1.0rem !important; }

.mx10 { margin: 0 1.0rem !important; }
.mx20 { margin: 0 2.0rem !important; }
.mx30 { margin: 0 3.0rem !important; }

.my10 { margin: 1.0rem 0 !important; }
.my20 { margin: 2.0rem 0 !important; }
