* {
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
html {
	// font-size: 62.5%;
	font-size: 10px;
	-webkit-text-size-adjust: 100%;
}
body {
	font-size: 1.4rem;
	width: 100%;
	color: #333;
	background: #fff;
	// font-family: sans-serif, Arial, "Lucida Grande", Verdana, inherit, "Microsoft YaHei", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	font-family: sans-serif, Arial, "Lucida Grande", "Microsoft YaHei";

	-webkit-user-drag: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
@media only screen and (min-width:360px){html{font-size:11.25px}}
@media only screen and (min-width:375px){html{font-size:11.71875px}}
@media only screen and (min-width:414px){html{font-size:12.9375px}}
@media only screen and (min-width:768px){html{font-size:24.0px}}
@media only screen and (min-width:960px){html{font-size:30.0px}}

big {
	font-family: sans-serif,
}
h1,h2,h3,h4,h5 {
    font-size: 1.4rem;
	font-weight: normal;
}
ul, li {
	list-style: none;
}
img {
	border: 0;
}
a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	text-decoration: none;
}
input,
select,
textarea {
	-webkit-user-select: text;
}
button,
input,
select,
textarea {
	outline: none;
	border: 0;
	font-size: 1.2rem;
	@include border-radius($radius:0);
}
button,
input,
select {
	-webkit-appearance: none;
}
button {
	display: block;
	background: none;
	text-align: center;
}
input,
textarea {
	background: #fff;
}

::-webkit-scrollbar {
    width: 0;
}

i,em {
	font-style: normal;
}
