<section ng-if="dView.show" class="view_reg">
    <div ng-click="toClose()">&#xe644;</div>
    <ul>
        <li>
            <label>登录名称</label>
            <input ng-model="dInput.username" type="text" />
        </li>
        <li>
            <label>登录密码</label>
            <input ng-model="dInput.password" type="password" />
        </li>
        <li>
            <label>确认密码</label>
            <input ng-model="dInput.password1" type="password" />
        </li>
    </ul>
    <button ng-click="toSubmit()" ng-class="{'show': dInput.username && dInput.password && dInput.password1}">
        注&nbsp;&nbsp;&nbsp;&nbsp;册
    </button>
</section>
